h1 {
    color: rgb(0, 0, 0); }  
       
#main_body 
{	margin: auto;
	width: 800px;
	display: block }

#banner { padding-top: 10px;
		padding-bottom: 10px;
		 }

#navigation 
{ margin: auto;
	width: 800px; 
					}
 #artwork {

 	width: 190px;
 	float: center;
 	padding: 5px;
 	border: 3px solid black 
 }

 #leah_uri { 
 	padding: 5px;
 	float:center;
 	width: 190px;
 	border: 3px solid black }
 #fitch { 
 	padding: 5px;
 	float:center;
 	width: 190px;
 	border: 3px solid black  }
 #leah_marsh {
 	padding: 5px;
 	float:right;
 	width: 150px;
 	border: 3px solid black ;
 }

 #about_paragraph{
 	margin-left: 25px;


 }

 #page_headers{
 	margin: auto;
 	padding: 10px;

 }

 body {
      
      margin: auto;

      background-color: rgb(33, 61, 49);
      background-image: url("mybackground.png");
      background-position: center;
      background-size: 1650px 2000px;

      }
