
h1 {
    color: rgb(0, 51, 0); }  
h2 {
    color: rgb(0, 51, 0); }       
#main_body 
{	margin: auto;
	width: 800px;
	display: block 
}

#bitmoji{
        height:350px;
        width: 350px;
        float:left;
        clear:left;
        margin-bottom:100px;
}
#bitmoji2{
        height:350px;
        width: 350px;
        float:right;
        clear:right;
        margin-bottom:100px;
}

#javascripts{
	width:800px;
	margin:auto;
}

#banner { padding-top: 10px;
		padding-bottom: 10px;
		 }

#navigation 
{ margin: auto;
	width: 800px; 
					}
 #artwork {
 	width: 170px;
 	border: 3px solid black;
 	float: right;
 	margin:15px;
 	margin-bottom: 35px;
 	clear: right
 	
 }

 #leah_uri { 
 	width: 170px;
 	border: 3px solid black;
 	float: left;
 	margin: 15px;
 
 	 }
 
 #fitch { 
 	width: 170px;
 	border: 3px solid black;
 	float: left;
 	margin: 15px;
 	margin-bottom: 35px;
 	  
 }

 #leah_marsh {
 	width: 170px;
 	border: 3px solid black ;
 	float: right;
 	margin: 15px;
 }

 #about_paragraph {
 	margin-left: 25px;
 	display: block;

 }

 #page_headers {
 	margin: auto;
 	padding-top: 20px;
 	padding-left: 25px;
 	padding-bottom: 15px
 }

 #computergif {
 	width: 300px;
 	float: right;
 	padding:10px;
 }

#intro {
	margin:auto;
	display:block;
	width: 50%;
	padding-left:25px;
}


#finalintro {
	margin:auto;
	display:block;
	width: 700px;
	padding-left:25px;
}
#drawingApp{
	margin:auto;
	display:block;
	width:400px;
}

#java_paragraph {
	padding-left: 25px;
}

 body {
      
      margin: auto;

      background-color: rgb(33, 61, 49);
      background-image: url("mybackground.png");
      background-position: center;
      background-size: 1650px 7500px;

      }
